@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Clay and I am creating this about page to describe my goals for MIS4200. 
    I aim to gain basic MVC apllication skills to develop my own webpages.</p>
