@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    42 wallaby way<br />
    sydney, Australia 42420<br />
    <abbr title="Phone">P:</abbr>
    330.not.real
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cs390914@ohio.edu">My Email if you want to hangout</a><br />
  
</address>