@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:royalblue;">
    <h2 style="color:yellow">All about Clay</h2>
    <p class="lead"style="color:yellow">Poor college student just tryng to chase an expensive dream so venmo me.</p>
    <p><a href="https://venmo.com/" class="btn btn-primary btn-lg" style="color:yellow">give me your money &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The dream</h2>
        <p>
            I want to move to Austin Texas after May and want to work as a IT consultant to 
            help provide businesses with more streamline solutions that use IT.
        </p>
        <p><a class="btn btn-default" href="https://www.austintexas.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" >
        <h2 style="color:brown">Join my cult</h2>
        <p style="color:brown">I am a huge Browns fan and like to keep up to date on information related to my team. 
        The most recent news was the arrest warrent for OBJ for slapping a police officers butt after the national championship game.</p>
        <p><a class="btn btn-default" href="https://www.espn.com/nfl/story/_/id/28496532/new-orleans-police-issue-arrest-warrant-browns-odell-beckham-jr">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fitness NUT</h2>
        <p>ONe of my biggest hobbies is more of a lifestyle, Fitness has been a very important part of my life for years.
        A lot goes into being healthy and fit and i love ever minute of it. If you are trying to get into fitness with 
        a New Year resolution then check out the link for some tips.</p>
        <p><a class="btn btn-default" href="https://www.bodybuilding.com/fun/whats-new.html">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <a class="twitter-timeline" data-width="440" data-height="250" href="https://twitter.com/Browns?ref_src=twsrc%5Etfw">Tweets by Browns</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Client", "Index", "Clients")
        @Html.ActionLink("Trainer", "Index", "Trainers")
        @Html.ActionLink("Training Details", "Index", "TrainingDetails")
        @Html.ActionLink("Training Sessions", "Index", "TrainingSessions")

    </div>
</div>